<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @section.active %>
</p>

<p>
  <strong>Company:</strong>
  <%= @section.company %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
