<!DOCTYPE html>
<html>
<head>
  <title><%=@company.name%></title>
  <%= csrf_meta_tags %>
<meta charset="UTF-8"> <meta name=viewport content="width=device-width, initial-scale=1">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'controllers/' + params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%=link_to( root_path, class: 'navbar-brand') do%>
        <%= image_tag(@company.logo) %>
        <%end%>



      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <%=render('devise/current_user')%>

      </div>
    </div>
  </nav>
  <!-- navbar end -->
  <!-- msgauth -->
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <!-- msgauth end -->
  <div id="main-container" class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div>
  </div>



</body>
</html>
